[submodule "pal"]
	path = pal
	url = https://github.com/reasoning-machines/pal
[submodule "cot-unfaithfulness"]
	path = cot-unfaithfulness
	url = https://github.com/milesaturpin/cot-unfaithfulness.git
