
# Tex-Output-Files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.nav
*.snm
*.fdb_latexmk
*.fls
*.bbl
*.blg

.env

__pycache__
.python-version
Template-Beamer

.vscode
llama2.c/
tex/PAL_Zusammenfassung
cot-unfaithfulness
